/* ============================= */
/* Root Variables */
/* ============================= */

:root {
    /* Colors - Light Mode */
    --color-primary: #a445ed;
    --color-primary-hover: #8f19e8;

    --color-bg-body: #ffffff;
    --color-bg-input: #f4f4f4;

    --color-text-main: #2d2d2d;
    --color-text-secondary: #757575;

    --color-line: #e9e9e9;
    --color-error: #ff5252;

    /* Typography */
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;

    /* Spacing */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2.5rem;
    --spacing-xl: 4rem;

    /* Radius */
    --radius-sm: 8px;
    --radius-md: 16px;
}


/* ============================= */
/* Dark Mode Variables */
/* ============================= */

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-body: #0a0a0a;
        --color-bg-input: #1f1f1f;

        --color-text-main: #f5f5f5;
        --color-text-secondary: #a4a4a4;

        --color-line: #2a2a2a;
    }
}